/* Animations */
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fade-out {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

p {
    font-family: helvetica, sans-serif;
    color: #000000;
    #emailLink {
        cursor: pointer;
        color: #FF0000;
        position:relative;
        display:inline-block;
        &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 4px 6px 0 6px;
            border-style: solid;
            border-color: #CCCCCC transparent transparent transparent;
            z-index: 99;
            margin-top: 8px;
            transform: translateX(-50%) translatey(-100%) rotate(-180deg);
            animation: fade-out 0.2s ease-in forwards;
        }
        &::after {
            content: attr(tooltip-content);
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%) translateY(-100%);
            background: #CCCCCC;
            text-align: center;
            color: #000000;
            padding: 4px 2px;
            font-size: 0.7em;
            line-height: 1.5em;
            min-width: 12em;
            pointer-events: none;
            padding: 1.5em;
            z-index: 99;
            margin-top: 8px;
            transform: translateX(-50%) translateY(0%);
            animation: fade-out 0.2s ease-in forwards;
        }
        &:hover {
            color: #000000;
        }
        &:hover::after, &:hover::before {
            animation: fade-in 0.2s ease-out forwards;
        }
        &.mobileEmailLink::before, &.mobileEmailLink::after {
            display: none;
        }
    }
    .vanish {
        display: none;
    }
}